<% layout('layout') -%>
<% block('head').append('<link rel="stylesheet" href="/stylesheets/about.css"/>') %>
<div class="container">
  <div class="white-box">
    <div class="about-info">
      <h2>Akira Kusano</h2>
      <div class="designation">Web Engineer</div>
      <div class="avatar">
        <img class="rounded-circle" width="270" height="270" src="/images/portrait.jpg">
      </div>
      <p><strong>草野　彰</strong></p>
      <p>1987年生まれ　神奈川県横浜市出身</p>
      <p>大学卒業後、金属材料卸の中小企業で営業としてキャリアをスタートさせるが、<br>生来の口下手と、自らが扱う商材に全く興味が持てなかったことが災いし、<br>「売れない営業」へと華麗に転身。</p>
      <p>あまりにも暇なので、社内で使っていたVBAツールの改修や、<br>PCのセットアップ、ヘルプデスクなどを勝手にやり始め、<br>そちらの方が性に合っていることに気付く。</p>
      <p>その後同社で3年程社内SEの経験を積んだ後、Web系企業に転職。<br>3年の間、Webアプリケーションの受託開発、Webサービス開発、運用等を行う。</p>
      <p>業務での使用言語はPHP, JS, Python, Ruby 等。<br>競プロではC++を使用。現在R, Common Lisp勉強中。<br>経験のあるOSはUbuntu, Debian, CentOS, Amazon Linux等。<br>他使用技術： Git, Apache, Vagrant, Laravel, Django, Express等</p>
      <p>現在絶賛お仕事募集中。</p>
      <p>このデモサイトのソースコードは<a href="https://bitbucket.org/A_Kusano/demo/src" target="_blank">こちら</a></p>
      <p><a href="https://twitter.com/soilentBlue" target="_blank">Twitter</a></p>
    </div>
  </div>
</div>
