<% layout('layout') -%>
<% block('head').append('<link rel="stylesheet" href="/stylesheets/introduction.css"/>') %>
<div class="headline">
  <div class="headline-inner">
    <img class="headline-bg" src="/images/demo3.jpg">
    <div class="container">
      <div class="headline-caption">
        <h1>Pagination</h1>
        <p><a class="btn btn-lg btn-primary" href="/demo3/pagination" role="button">デモ画面</a></p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="white-box">
    <div class="about-info">
      <h2>pagination</h2>
      <div class="avatar">
        <img src="/images/outline3.jpg">
      </div>
      <p>地方自治体向けWebサイト改修案件に於ける<br>簡易CMS作成及び静的サイト上のデータ連携部プログラム作成等。</p>
      <p>WordPress等の既存CMSが使用不可、htmlコーダーにプログラミング知識が無い、<br>納期がタイト、要件定義不足等、制約の多い案件のためこの様な実装となった。</p>
      <p><a class="btn btn-primary" href="/demo3/pagination" role="button">デモ画面</a></p>
      <p>使用技術：PHP, jQuery 等</p>
      <p>実際に稼働しているサイトは<a href="https://furefure-shimane.jp/search/" target="_blank">こちら</a></p>
    </div>
  </div>
</div>

